{% extends "glims/dashboard.html" %}
{% load crispy_forms_tags %}
{% block page %}Submit Tandem Job {% endblock %}
{% block content %}
{% include 'proteomics/partials/sample_modal.html' %}
{% include 'proteomics/partials/fasta_modal.html' %}
<script src="/static/proteomics/js/resources/models.js"></script>
<script src="/static/proteomics/js/pages/search.js"></script>
<style>
.hide-overflow{
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
  max-width: 250px;
}
.scroll-x{
overflow-x:scroll;
}
</style>
<div class="row">
	<div class="col-lg-12">
      	<div class="widget">
          <div class="widget-header">
            SearchGUI
          </div>
          <div class="widget-body" ng-controller="SearchController" ng-init="init()">
          <div class="row">
          	<div class="col-md-8">
          	<alert ng-repeat="(key,values) in errors" type="danger">{[key]}: <ul><li ng-repeat="value in values">{[value]}</li></ul></alert>
          	
          	<div ng-repeat="job in jobs" class="alert alert-success"><a href="{[jobLink(job.job_id)]}">Job {[job.job_id]}</a> submitted at {[job.job_date | date:'HH:mm:ss']}</div>
            
            <h4>Samples <button ng-click="openSampleModal()" class="btn btn-sm btn-success">Add Sample</button></h4>
            <div class="scroll-x" ng-show="data.samples.length > 0">
            <table class="table" >
            	<tr><th>Created</th><th>Name</th><th>Description</th><th>MZML</th><th></th></tr>
            	<tr ng-repeat="sample in data.samples">
            		<td>{[sample.created]}<input type="hidden" name="samples" value="{[sample.id]}"/></td>
            		<td>{[sample.name]}</td>
            		<td>{[sample.description]}</td>
            		<td><p class="hide-overflow" title="{[sample.data.mzml_path]}">{[sample.data.mzml_path]}</p></td>
            		<td><button class="btn btn-xs btn-danger" ng-click="removeSample($index)">Remove</button></td>
            	</tr>
            </table>
            </div>
            
          	<h4>Fasta File <button ng-click="openFastaModal()" class="btn btn-sm btn-success">Select Fasta</button></h4>
          	<div ng-repeat="fasta in data.fastas">
          	{[fasta.name]} <a ng-click="fasta_details=true;" ng-hide="fasta_details">Show Details</a>
	          	<div ng-show="fasta_details">
	          		<table>
		          		<tr><th>Modified</th><td>{[fasta.modified]}</td></tr>
		          		<tr><th>File</th><td></td></tr>
		          		<tr><th>Description</th><td>{[fasta.description]}</td></tr>
		          		<tr><th>Sequence Count</th><td>{[fasta.count]}</td></tr>
		          	</table>
		          	<a ng-click="fasta_details=false;">Hide Details</a>
	          	</div>
          	</div>
          	
          	<h4>Default File</h4>
          	<div ng-repeat="parameter_file in parameter_files">
          		<label><input type="radio" ng-model="data.parameter_file" value="{[parameter_file.id]}">{[parameter_file.name]}</label>
          	</div>
          	</select>
	          {% csrf_token %}
	        <h4>Threads</h4>
	        <select ng-model="data.threads" ng-options="val for val in [1,2,3,4,5,6,7,8]"></select>
	        </div> <!-- End left column -->
	        <div class="col-md-4">
	        <div class="form-group">
			  <label for="checkboxes">Search engines</label>
			  
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="data.engine.xtandem" ng-true-value="1" ng-false-value="0"/>
			      X!Tandem
			    </label>
				</div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="data.engine.msgf" ng-true-value="1" ng-false-value="0"/>
			      MS-GF+
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="data.engine.omssa" ng-true-value="1" ng-false-value="0"/>
			      OMSSA
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="data.engine.ms_amanda" ng-true-value="1" ng-false-value="0"/>
			      MS Amanda
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="data.engine.myrimatch" ng-true-value="1" ng-false-value="0"/>
			      MyriMatch
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="data.engine.comet" ng-true-value="1" ng-false-value="0"/>
			      Comet
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" ng-model="data.engine.tide" ng-true-value="1" ng-false-value="0"/>
			      Tide
			    </label>
			  </div>
			  
			  </div>
			  </div> <!-- End right column -->
			</div><!-- End row -->
	        
	          <button class="btn btn-default" ng-click="submit()">Submit</button>
	          </div>
          </div>
        </div>
	</div>
{% endblock %}

